<p>
  This workshop is inspired by the format of <a href="{{site.carpentries_site}}">The Carpentries</a>-type
  workshops. It combines lessons from the <a href="{{site.incubator}}">Carpentries Incubator</a>. (Lessons in the incubator are in early development and thus much less mature than lessons in the core curriculum.)
  In contrast to "regular" Carpentries workshops, the total length of instruction for this workshop is only a half day.
  However, as for regular Carpentries workshops,
  this course will be highly interactive and hands-on. Participants
  will use their own laptops throughout the course, and are encouraged
  to help one another.
</p>
<p>
  The Carpentries develops and
  teaches workshops on the foundational coding and data skills needed to conduct
  research. Its target audience is researchers worldwide, including those who have little to no prior computational experience.
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1005510">Good Enough Practices for Scientific Computing</a>".
  </em>
</p>
